# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Data & notebooks
data/


# MLflow
mlruns/

# Large artifacts (model files)

creditcardfraud.zip
models/trained_models/*.pkl
models/trained_models/*.joblib
artifacts/preprocessing/*.joblib
artifacts/preprocessing/*.pkl
artifacts/feature_engineering/*.pkl
artifacts/feature_engineering/*.joblib
artifacts/models/*.pkl
artifacts/models/*.joblib

# Reports
reports/

# IDE
.vscode/
.idea/